node_modules
dist
dist-installer
dist-recovery
ITStock_CRM_Final
ITStock_CRM_Installer
build
build_asar_v8
*.asar
*.exe
*.zip
*.db
*.db-journal
.env
build-cache
dist-*
build_log.txt
build_error.txt
asar-extract
